# PostgreSQL
POSTGRES_USER=keeper
POSTGRES_PASSWORD=keeper
POSTGRES_DB=keeper
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT=minio:9000

# Database DSN (собирается из значений выше)
DATABASE_DSN=postgres://keeper:keeper@postgres:5432/keeper?sslmode=disable

# Migrations
MIGRATIONS_PATH=file:///migrations

# Server
JWT_SECRET=super-secret-key-change-me
GRPC_ADDR=:44044
GRPC_PORT=44044
